.main {
    display: grid;
    grid-template-rows: 435px 304px 835px 650px;
}

.main__section__main {
    grid-row: 1/2;
}

.main__section__part-1 {
    grid-row: 2/3;
}

.main__section__part-2 {
    grid-row: 3/4;
}

.main__section__part-3 {
    grid-row: 4/5;
}